<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>BidDee</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BidDee</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>line3rdp.2004728728</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.15</string>
	<key>FLTEnableImpeller</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>lineauth</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>BidDee needs access to your camera to let you take and set your profile picture in the app.</string>
	<key>NSContactsUsageDescription</key>
	<string>BidDee needs access to your contacts to allow you to connect with and invite people you know.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>BidDee needs access to your location to provide seamless location-based services even when the app is in use or running in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>BidDee needs access to your location to provide location-based services and improve your experience.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>BidDee needs access to your microphone to enable voice features within the app.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>BidDee needs access to your photo library to allow you to choose a photo for your profile picture.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>com.google.android.geo.API_KEY</key>
	<string>AIzaSyCA8xOljgqkqVA_DQmjSockld3podZHLrM</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>BidDee needs to send you notifications about auction updates, bidding status, and important events.</string>
</dict>
</plist>
